.dog-profile-container {
  max-width: 1250px;
 margin-top: 5px;
  max-height: 800px; 
 margin-left: 60px;
  padding: 60px;
  font-family: 'Segoe UI', sans-serif;
  
  
  border-radius: 20px;
 
}

.profile-card {
  background:#f0d8ba;
min-height: 90vh;
   box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
   box-sizing: border-box;
  
}

.profile-pic {
  position: relative;
  width: 140px;
  height: 140px;
  margin: -90px auto 20px; /* floating effect */
}

.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid white;
  box-shadow: 0 6px 18px rgba(59,130,246,0.4);
}

.edit-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #7f5af0;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.edit-icon:hover {
  background: #7f5af0;
}

.name {
  font-size: 26px;
  font-weight: 700;
  color: #111827;
  margin: 6px 0 2px;
}

.breed {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 20px;
}

.info-row {
  display: flex;
  justify-content: space-around;
  background:#faf7f0;
  padding: 14px 0;
  border-radius: 14px;
  margin-bottom: 25px;
}

.info-block .label {
  font-size: 13px;
  color: #4b5563;
  margin-bottom: 2px;
}

.info-block .value {
  font-size: 15px;
  font-weight: 600;
  color: #111827;
}

.section {
  text-align: left;
  margin-top: 25px;
}

.section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #374151;
  font-weight: 700;
}

.about-text {
  font-size: 15px;
  line-height: 1.7;
  color: #374151;
}

.medical-info {
  background: #faf7f0;
  border-radius: 12px;
  padding: 16px 18px;
  margin-top: 16px;
}

.med-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 15px;
  border-bottom: 1px dashed #d1d5db;
}
.med-row:last-child {
  border-bottom: none;
}

.up-to-date {
  color: #16a34a;
  font-weight: 600;
}

.none {
  color: #6b7280;
}
